body {
    background-image: url("img/gunung.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

table {
  border-collapse:collapse;
  font-size: 10pt;
  border: 3px solid black;
  background-color: white;
  border-style: 
}

td{
    padding: 5px;
    border: 3px solid black;
}

th{
    background-color: steelblue;
    color: white;
    height: 30px;
    border: 3px solid black;

}

